@model CoffeeShop.Models.Menu

@{
    ViewData["Title"] = "Menu Detail";
}

<div class="container mt-5">

    <div class="row">

        <div class="col-md-6">

            <img src="@Model.ImageUrl"
                 class="img-fluid rounded shadow" />

        </div>

        <div class="col-md-6">

            <h1>@Model.MenuName</h1>

            <h3 class="text-danger">
                @Model.Price.ToString("N0") đ
            </h3>

            <p class="lead">
                @Model.Description
            </p>

            <a asp-controller="Cart"
               asp-action="Add"
               asp-route-id="@Model.MenuID"
               class="btn btn-success">

                Add To Cart

            </a>

            <a asp-action="Index"
               class="btn btn-secondary btn-lg ms-2">
                Back
            </a>

        </div>

    </div>

</div>